.body_text{
	padding-top: 50px;
	text-align: center;
}
.body_text p{
	margin-top: 40px;
}
.underline_title{
	border-top: 2px solid rgb(243,108,108);
	width: 80px;
	margin: auto;
}
.body_text h3{
    padding-bottom: 10px;
    text-align: center;

}
.body_img1{
	margin-top: 30px;
	margin-bottom: 40px;
	box-shadow: 20px 20px 40px rgb(236,109,106);

}
.body_img2{
	background: linear-gradient(rgba(0,0,0,0.66), rgba(0,0,0,0.66)), url('https://media.boalingua.ch/images/frankreich_bordeaux_wasser-platz02.jpg') no-repeat fixed;
	background-size: cover;
	opacity: 0.9;
	margin-top: 40px;
	margin-bottom: 40px;

}
.body_img2 h3{
	text-align: center;
	margin-top: 200px;
	font-size: 4vw;
	color: white;
}
.body_img2 span{
	border-bottom: 2px solid rgb(243,108,108);
	padding-bottom: 6px;
}
.body_icone{
	z-index: 1;
	margin-top:20px;
	text-align: center;
	padding: 131px;
	color: white;
}
.body_icone p{
	font-size: 2em;
}
.body_icone_text{
	margin-top: 50px;
}
	
.body_img3{
	margin-bottom:30px;
	margin-top: 40px;
}

.body_img3::before {
	position: absolute;
	content: " ";
	top: -5px;
	left: 70px;
	border: 4px solid rgb(243,108,108);
	width: 77%;
	height: 85%;
}
.logo_img3{
	background-color: white;
	position: relative;
}
